
BasedOnStyle: LLVM 

# Universal layout alignments
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

IndentAccessModifiers: false
AccessModifierOffset: -4

BreakBeforeBraces: Allman

PointerAlignment: Left
DerivePointerAlignment: false
AlwaysBreakAfterDefinitionReturnType: false 
